run = "cd data-marketplace-backend && gradle quarkusDev"

entrypoint = "data-marketplace-backend/src/main/kotlin/com/example/Application.kt"

hidden=["*.jar", "build", ".gradle", ".idea", "*.iml", "*.ipr", "*.iws"]

[nix]
channel = "stable-24_05"

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.kotlin]
pattern = "**/*.{kt,kts,java}"

[languages.kotlin.languageServer]
start = ["kotlin-language-server"]

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "gradle run"]

[[ports]]
localPort = 8080
externalPort = 80
exposeLocalhost = true
